.inputBox{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: solid #457b9d;;
}
.register{
    margin-left: 40%;
}
.button{
    margin: 25px;
    padding: 10px;
    width: 150px;
    background-color: #457b9d;
    border: 1px solid;
    cursor: pointer;
}